lib/build/cmake_install.cmake
lib/build/CMakeCache.txt
lib/build/libiaxclient_lib.dll.a
lib/build/Makefile
lib/build/CMakeFiles/cmake.check_cache
lib/build/CMakeFiles/CMakeConfigureLog.yaml
lib/build/CMakeFiles/CMakeDirectoryInformation.cmake
lib/build/CMakeFiles/InstallScripts.json
lib/build/CMakeFiles/Makefile.cmake
lib/build/CMakeFiles/Makefile2
lib/build/CMakeFiles/progress.marks
lib/build/CMakeFiles/TargetDirectories.txt
lib/build/CMakeFiles/4.0.1/CMakeCCompiler.cmake
lib/build/CMakeFiles/4.0.1/CMakeDetermineCompilerABI_C.bin
lib/build/CMakeFiles/4.0.1/CMakeRCCompiler.cmake
lib/build/CMakeFiles/4.0.1/CMakeSystem.cmake
lib/build/CMakeFiles/4.0.1/CompilerIdC/a.exe
lib/build/CMakeFiles/4.0.1/CompilerIdC/CMakeCCompilerId.c
lib/build/CMakeFiles/iaxclient_lib.dir/audio_encode.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/audio_encode.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/audio_file.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/audio_file.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/audio_openal.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/audio_openal.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/build.make
lib/build/CMakeFiles/iaxclient_lib.dir/cmake_clean.cmake
lib/build/CMakeFiles/iaxclient_lib.dir/codec_alaw.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/codec_alaw.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/codec_gsm.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/codec_gsm.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/codec_speex.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/codec_speex.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/codec_ulaw.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/codec_ulaw.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/compiler_depend.make
lib/build/CMakeFiles/iaxclient_lib.dir/compiler_depend.ts
lib/build/CMakeFiles/iaxclient_lib.dir/depend.make
lib/build/CMakeFiles/iaxclient_lib.dir/DependInfo.cmake
lib/build/CMakeFiles/iaxclient_lib.dir/flags.make
lib/build/CMakeFiles/iaxclient_lib.dir/iaxclient_lib.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/iaxclient_lib.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/objects.a
lib/build/CMakeFiles/iaxclient_lib.dir/progress.make
lib/build/CMakeFiles/iaxclient_lib.dir/winfuncs.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/winfuncs.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/add.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/add.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/code.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/code.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/debug.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/debug.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/decode.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/decode.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_create.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_create.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_decode.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_decode.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_destroy.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_destroy.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_encode.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_encode.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_explode.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_explode.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_implode.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_implode.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_option.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_option.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_print.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_print.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/long_term.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/long_term.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/lpc.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/lpc.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/preprocess.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/preprocess.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/rpe.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/rpe.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/short_term.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/short_term.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/table.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/gsm/src/table.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax2-parser.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax2-parser.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/jitterbuf.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/jitterbuf.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/md5.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/libiax2/src/md5.c.obj.d
lib/build/CMakeFiles/iaxclient_lib.dir/spandsp/plc.c.obj
lib/build/CMakeFiles/iaxclient_lib.dir/spandsp/plc.c.obj.d
lib/build/CMakeFiles/Progress/1
lib/build/CMakeFiles/Progress/2
lib/build/CMakeFiles/Progress/3
lib/build/CMakeFiles/Progress/4
lib/build/CMakeFiles/Progress/5
lib/build/CMakeFiles/Progress/6
lib/build/CMakeFiles/Progress/7
lib/build/CMakeFiles/Progress/8
lib/build/CMakeFiles/Progress/count.txt
lib/build/libiaxclient_lib.dll
lib/build/CMakeFiles/iaxclient_lib.dir/compiler_depend.internal
lib/build/liblibiaxclient_lib.dll
lib/build/liblibiaxclient_lib.dll.a
lib/build/CMakeFiles/iaxclient_lib.dir/includes_C.rsp
lib/build/CMakeFiles/iaxclient_lib.dir/link.txt
lib/build/CMakeFiles/iaxclient_lib.dir/linkLibs.rsp
lib/build/CMakeFiles/iaxclient_lib.dir/objects1.rsp
lib/liblibiaxclient_lib.dll
lib/liblibiaxclient_lib.dll.a
lib/Makefile
lib/CMakeFiles/cmake.check_cache
lib/CMakeFiles/CMakeConfigureLog.yaml
lib/CMakeFiles/CMakeDirectoryInformation.cmake
lib/CMakeFiles/InstallScripts.json
lib/CMakeFiles/Makefile.cmake
lib/CMakeFiles/Makefile2
lib/CMakeFiles/progress.marks
lib/CMakeFiles/TargetDirectories.txt
lib/CMakeFiles/4.0.1/CMakeCCompiler.cmake
lib/CMakeFiles/4.0.1/CMakeDetermineCompilerABI_C.bin
lib/CMakeFiles/4.0.1/CMakeRCCompiler.cmake
lib/CMakeFiles/4.0.1/CMakeSystem.cmake
lib/CMakeFiles/4.0.1/CompilerIdC/a.exe
lib/CMakeFiles/4.0.1/CompilerIdC/CMakeCCompilerId.c
lib/CMakeFiles/iaxclient_lib.dir/audio_encode.c.obj
lib/CMakeFiles/iaxclient_lib.dir/audio_encode.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/audio_file.c.obj
lib/CMakeFiles/iaxclient_lib.dir/audio_file.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/audio_openal.c.obj
lib/CMakeFiles/iaxclient_lib.dir/audio_openal.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/build.make
lib/CMakeFiles/iaxclient_lib.dir/cmake_clean.cmake
lib/CMakeFiles/iaxclient_lib.dir/codec_alaw.c.obj
lib/CMakeFiles/iaxclient_lib.dir/codec_alaw.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/codec_gsm.c.obj
lib/CMakeFiles/iaxclient_lib.dir/codec_gsm.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/codec_speex.c.obj
lib/CMakeFiles/iaxclient_lib.dir/codec_speex.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/codec_ulaw.c.obj
lib/CMakeFiles/iaxclient_lib.dir/codec_ulaw.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/compiler_depend.make
lib/CMakeFiles/iaxclient_lib.dir/compiler_depend.ts
lib/CMakeFiles/iaxclient_lib.dir/depend.make
lib/CMakeFiles/iaxclient_lib.dir/DependInfo.cmake
lib/CMakeFiles/iaxclient_lib.dir/flags.make
lib/CMakeFiles/iaxclient_lib.dir/iaxclient_lib.c.obj
lib/CMakeFiles/iaxclient_lib.dir/iaxclient_lib.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/includes_C.rsp
lib/CMakeFiles/iaxclient_lib.dir/link.txt
lib/CMakeFiles/iaxclient_lib.dir/linkLibs.rsp
lib/CMakeFiles/iaxclient_lib.dir/objects.a
lib/CMakeFiles/iaxclient_lib.dir/objects1.rsp
lib/CMakeFiles/iaxclient_lib.dir/progress.make
lib/CMakeFiles/iaxclient_lib.dir/winfuncs.c.obj
lib/CMakeFiles/iaxclient_lib.dir/winfuncs.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/add.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/add.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/code.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/code.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/debug.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/debug.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/decode.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/decode.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_create.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_create.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_decode.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_decode.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_destroy.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_destroy.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_encode.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_encode.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_explode.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_explode.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_implode.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_implode.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_option.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_option.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_print.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_print.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/long_term.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/long_term.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/lpc.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/lpc.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/preprocess.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/preprocess.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/rpe.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/rpe.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/short_term.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/short_term.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/table.c.obj
lib/CMakeFiles/iaxclient_lib.dir/gsm/src/table.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax.c.obj
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax2-parser.c.obj
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax2-parser.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/jitterbuf.c.obj
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/jitterbuf.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/md5.c.obj
lib/CMakeFiles/iaxclient_lib.dir/libiax2/src/md5.c.obj.d
lib/CMakeFiles/iaxclient_lib.dir/spandsp/plc.c.obj
lib/CMakeFiles/iaxclient_lib.dir/spandsp/plc.c.obj.d
lib/cmake_install.cmake
lib/build/libiaxclient.dll
lib/build/libiaxclient.dll.a
lib/build/CMakeFiles/Progress/9
lib/build/CMakeFiles/Progress/10
lib/build/CMakeFiles/Progress/11
lib/build/CMakeFiles/Progress/12
lib/build/CMakeFiles/Progress/13
lib/build/CMakeFiles/Progress/14
lib/build/CMakeFiles/Progress/15
lib/build/CMakeFiles/Progress/16
lib/build/CMakeFiles/Progress/17
lib/build/CMakeFiles/Progress/18
lib/build/CMakeFiles/Progress/19
lib/build/CMakeFiles/Progress/20
lib/build/CMakeFiles/Progress/21
lib/build/CMakeFiles/Progress/22
lib/build/CMakeFiles/Progress/23
lib/build/CMakeFiles/Progress/24
lib/build/CMakeFiles/Progress/25
lib/build/CMakeFiles/Progress/26
lib/build/CMakeFiles/Progress/27
lib/build/CMakeFiles/Progress/28
lib/build/CMakeFiles/Progress/29
lib/build/CMakeFiles/Progress/30
lib/build/CMakeFiles/Progress/31
lib/build/CMakeFiles/Progress/32
lib/build/CMakeFiles/Progress/33
lib/build/libOpenAL32.a
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/libiaxclient_lib.dll.a
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-b14829a4f65b879328eb.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3ee0add496d3d3f97072.json
build/.cmake/api/v1/reply/codemodel-v2-a2f3a71e047007e4e6dd.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-05-03T22-53-14-0966.json
build/.cmake/api/v1/reply/target-iaxclient_lib-Debug-48a0fa9ad09ff156f5ce.json
build/.cmake/api/v1/reply/toolchains-v1-ccf30981d2e9fba6d544.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.5-msvc23/CMakeCCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.5-msvc23/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeSystem.cmake
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/a.exe
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/iaxclient_lib.dir/audio_encode.c.obj
build/CMakeFiles/iaxclient_lib.dir/audio_encode.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/audio_file.c.obj
build/CMakeFiles/iaxclient_lib.dir/audio_file.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/audio_openal.c.obj
build/CMakeFiles/iaxclient_lib.dir/audio_openal.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/build.make
build/CMakeFiles/iaxclient_lib.dir/cmake_clean.cmake
build/CMakeFiles/iaxclient_lib.dir/codec_alaw.c.obj
build/CMakeFiles/iaxclient_lib.dir/codec_alaw.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/codec_gsm.c.obj
build/CMakeFiles/iaxclient_lib.dir/codec_gsm.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/codec_ulaw.c.obj
build/CMakeFiles/iaxclient_lib.dir/codec_ulaw.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/compiler_depend.make
build/CMakeFiles/iaxclient_lib.dir/compiler_depend.ts
build/CMakeFiles/iaxclient_lib.dir/depend.make
build/CMakeFiles/iaxclient_lib.dir/DependInfo.cmake
build/CMakeFiles/iaxclient_lib.dir/flags.make
build/CMakeFiles/iaxclient_lib.dir/iaxclient_lib.c.obj
build/CMakeFiles/iaxclient_lib.dir/iaxclient_lib.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/includes_C.rsp
build/CMakeFiles/iaxclient_lib.dir/link.txt
build/CMakeFiles/iaxclient_lib.dir/linkLibs.rsp
build/CMakeFiles/iaxclient_lib.dir/objects.a
build/CMakeFiles/iaxclient_lib.dir/objects1.rsp
build/CMakeFiles/iaxclient_lib.dir/progress.make
build/CMakeFiles/iaxclient_lib.dir/winfuncs.c.obj
build/CMakeFiles/iaxclient_lib.dir/winfuncs.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/add.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/add.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/code.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/code.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/debug.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/debug.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/decode.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/decode.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_create.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_create.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_decode.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_decode.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_destroy.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_destroy.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_encode.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_encode.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_explode.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_explode.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_implode.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_implode.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_option.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_option.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_print.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/gsm_print.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/long_term.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/long_term.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/lpc.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/lpc.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/preprocess.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/preprocess.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/rpe.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/rpe.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/short_term.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/short_term.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/gsm/src/table.c.obj
build/CMakeFiles/iaxclient_lib.dir/gsm/src/table.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax.c.obj
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax2-parser.c.obj
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/iax2-parser.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/jitterbuf.c.obj
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/jitterbuf.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/md5.c.obj
build/CMakeFiles/iaxclient_lib.dir/libiax2/src/md5.c.obj.d
build/CMakeFiles/iaxclient_lib.dir/spandsp/plc.c.obj
build/CMakeFiles/iaxclient_lib.dir/spandsp/plc.c.obj.d
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/14
build/CMakeFiles/Progress/15
build/CMakeFiles/Progress/16
build/CMakeFiles/Progress/17
build/CMakeFiles/Progress/18
build/CMakeFiles/Progress/19
build/CMakeFiles/Progress/20
build/CMakeFiles/Progress/21
build/CMakeFiles/Progress/22
build/CMakeFiles/Progress/23
build/CMakeFiles/Progress/24
build/CMakeFiles/Progress/25
build/CMakeFiles/Progress/26
build/CMakeFiles/Progress/27
build/CMakeFiles/Progress/28
build/CMakeFiles/Progress/29
build/CMakeFiles/Progress/30
build/CMakeFiles/Progress/31
build/CMakeFiles/Progress/32
build/CMakeFiles/Progress/count.txt
